:root {
  --bgColor: #091921;
  --handColor: rgb(197, 16, 16);
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
  overflow: hidden;
}

.clock {
  background: url('../images/clock.png') no-repeat;
  background-size: contain;
  background-position: center;
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--bgColor);
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
              inset 0 -15px 15px rgba(255, 255, 255, 0.05),
              0 15px 15px rgba(0, 0, 0, 0.3),
              inset 0 15px 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: relative;
  padding: 3rem;
}

.clock:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 999;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); 
}

.hand {
  width: 50%;
  height: 2px;
  background: var(--handColor);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

details {
  position: absolute;
  bottom: 8px;
  color: var(--handColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

summary {
  outline: none;
}

a {
  color: #1a4961;
}

@media (max-width: 500px) {
  .clock {
    width: 230px;
    height: 230px;
    padding: 2rem;
  }

  details {
    margin-top: 10px;
    bottom: 1px;
  }
}